{% extends "layout.html" %}

{% block title %}
    Sold
{% endblock %}

{% block main %}

    <table>
        <tr>
            <td>Current balance</td>
            <td>Value of sale</td>
            <td>New balance</td>
        </tr>
        <tr>
            <td>{{ cash }}</td>
            <td>{{ valueOfShares }}</td>
            <td>{{ balance }}</td>
        </tr>
    </table>

    <h1>You have requested to sell {{ numOfShares }} shares in {{ sold.name }} at a price of ${{ sold.price }} USD per share</h1>
{% endblock %}